/* Footer design */
.footer {padding: 30 px 0;
height: 100px; background-color: $gray-darker;

p {
  margin-top: 17px;
  color: $gray-lighter;
margin-right: 20px;
text-align: right;
}

ul {
  margin-top: 10px;
}

a {color: $gray-lighter;
letter-spacing: 20px;
margin-left: 20px;
transition: color 0.5s ease;}

a:hover {color: $yellow;}

}
